{
	"duration"    : 3500,
	"calibration" : 50,
	"quadSize"    : 10,
	"closeEnough" : 50.0,
	"randomWalkwayRadius" : 100.0,
	"attractionRadius" : 5.0,
	"deltaT" : 1.0,
	"threads" : 4,
	"floodModelEnable": true,
	"densityModelEnable": false,
	"panicModelEnable": false,
	"elevationModelEnable": false,
	"debrisModelEnable": false,
	"city" : "vdm",
	"description" : "Viña del Mar ejemplo",
	"samplingInterval" : 100,
   	"input":{
		"map"       : "/planet.openstreetmap.org/chile/map.osrm",
		"zones"     : "/sim/input/vdm-pob-vergara/zones-2019.geojson"
	},
	"output":{
		"progressBar"     : true,
		"interval"        : 10,
		"directory"       : "/home/demps-user/sim/output/vdm-pob-vergara",
		"agents-out"      : true,		
		"agents-path"     : "agents/",
		"agents-precision": 8,
		"agents-sufix"    : "txt",
		"stats-out"       : true,
		"stats-interval"  : 10,
		"stats-path"      : "stats/",
		"anim-config"     : "animacion.config.json",
		"heatMap-out"     : false,
		"heatMap-size"    : 2,
		"heatMap-interval": 120,
		"heatMap-path"    : "heatMaps/"
	},
	"floodParams":{
		"direction":"N->S;W->E",
		"arrivalTime":-1500,
		"sampleStateInterval" : 10,
		"speedWaterLevel": 0.00600,
		"speedWaterProp" : 0.75,
		"criticalLevel" : 1.00,
		"minSpeedFactor" : 0.30,
		"imagesEnable":false,
		"imagesDir":"floodImgs/",
		"stateEnable":true,
		"stateDir":"floodState/"
	},
	"densityParams":{
		"minDensity": 0.3,
		"maxDensity": 3.0,
		"minVelocity": 0.2
	},
	"agents":[
		{
			"model" : "Residents",
			"number" : 41686,
			"responseTime" : {"tau": 0,"sigma" : 100},
			"phoneUse" :{"meanTimeTakePhone": 20.0,"probPhoneUseConst": 10},
			"ageRange":{
				"G0": {"prob": 0.1651,"minSpeed": 1.04,"maxSpeed": 1.40},
				"G1": {"prob": 0.2597,"minSpeed": 1.28,"maxSpeed": 1.71},
				"G2": {"prob": 0.4267,"minSpeed": 1.08,"maxSpeed": 1.71},
				"G3": {"prob": 0.1485,"minSpeed": 0.41,"maxSpeed": 0.93}
			},
			"SFM" : {
				"timeRelax" : 5.0, "sigma" : 0.6,
				"repulsiveForceAgents" : 50.1,
				"cosphi" : -0.17365
			},
			"panicModel" : {
				"emotionThreshold":0.00,
				"probInfectedToRecovered":0.7,
				"probRecoveredToSusceptible":0.3,
				"meanTimeInInfected":300,
				"sdTimeInInfected":1.0,
				"meanTimeInRecovered":300,
				"sdTimeInRecovered":1.0		
			}
		},
		{
			"model" : "Visitors",
			"number" : 0,
			"responseTime" : {"tau"   : 0,"sigma" : 383.0},
			"phoneUse" :{"meanTimeTakePhone": 5.0,"probPhoneUseConst": 10},
			"ageRange":{
				"G0": {"prob": 0.1651,"minSpeed": 1.04,"maxSpeed": 1.40},
				"G1": {"prob": 0.2597,"minSpeed": 1.28,"maxSpeed": 1.68},
				"G2": {"prob": 0.4267,"minSpeed": 1.08,"maxSpeed": 1.60},
				"G3": {"prob": 0.1485,"minSpeed": 0.41,"maxSpeed": 0.93}
			},
			"SFM" : {
				"timeRelax" : 1.5,"sigma" : 0.1,
				"repulsiveForceAgents" : 50.1,
				"cosphi" : 0.17365
			},
			"panicModel" : {
				"emotionThreshold":0.60,
				"probInfectedToRecovered":0.7,
				"probRecoveredToSusceptible":0.3,
				"meanTimeInInfected":300,
				"sdTimeInInfected":1.0,
				"meanTimeInRecovered":300,
				"sdTimeInRecovered":1.0		
			}
		}
	]
}
